link(rel="stylesheet" href="/stylesheets/v4template/components/majorInfo.css")

div#footprint
div.info-box
    h1#majorName
    div#article-date
        p 浏览量：
            span.see
        div.clear
    div.depart-name
        span.label 所属院系：
        span#departmentName
    div.school-year
        span.label 学制：
        span#schoolYear
    div.degree
        span.label 授予学位：
        span#degree
    div.characteristic
        span.label 专业特色
        p#characteristic
    div.target
        span.label 培养目标
        p#target

    div.curriculum
        span.label 核心课程
        p#curriculum

    div.enrollment-plan
        span.label 招生计划：
        a#enrollmentPlan 点击查看详情

    div.history-enrollment
        span.label 历史录取：
        a#historyEnrollment 点击查看详情




script.

    $(function () {
        var SCODE ='#{sCode}',PARENTID='#{parentId}',INFOID='#{infoId}',MAJORID='#{majorId}';
        $.get(HOST + '/majorDetail?majorId=' + MAJORID, function (data) {
            $('.info-box .see').html(data.viewTimes);
            $('#majorName').html(data.name)
            $('#departmentName').html(data.departName);
            $('#schoolYear').html(data.schoolYear);
            $('#degree').html(data.degree);
            $('#characteristic').html(data.feature);
            $('#target').html(data.target);
            $('#curriculum').html(data.mainClass);
        })

        $('#enrollmentPlan').on('click', function () {
            $.get(BASE_HOST + '/front/template/getInfoContentBySptype?sCode=' + SCODE + '&specType=8', function (data) {
                var url=APP_SERVER + '/page/detail/'+SCODE+'/'+data.data.id+'/'+data.data.catId;
                window.location.href = toDetailPage(url);
            })
        })

        $('#historyEnrollment').on('click', function () {
            $.get(BASE_HOST + '/front/template/getInfoContentBySptype?sCode=' + SCODE + '&specType=11', function (data) {
                var url=APP_SERVER + '/page/detail/'+SCODE+'/'+data.data.id+'/'+data.data.catId;
                window.location.href = toDetailPage(url);
            })
        })
    })

<!--script(src="/javascripts/v4template/components/collegeInfo.js")-->