extends layout.jade
block content
    include ./components/headerNew

    div.containers
        include ./components/sidebar


        div#main





            <!--include ./components/collegeList-->
            <!--include ./components/collegeInfo-->
            <!--include ./components/majorAdmission-->
            <!--include ./components/collegePhotos-->
            <!--include ./components/collegeAdmission-->
            <!--include ./components/candidatesAdvice-->
            include ./components/majorList

        include ./components/rightBooks
        div.clear
    include ./components/footer

    script.
        var SCODE ='#{sCode}',PARENTID='#{parentId}',MAJORID='#{majorId}';
        var BASE_HOST='!{locals.global.api_sever_url}'
        var HOST= BASE_HOST+'/weixin/api';
        var IMG_HOST='!{locals.global.img_sever_url}'
        var APP_SERVER=''



        $(function(){


        })



